@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2 class="mt-4 mb-4 text-center">Add a engineer</h2>
<hr />

<h4>Add an engineer who specializes in repairing this machine: @Html.DisplayFor(model => model.Brand)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select an engineer id")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<p class="h5 mt-5">@Html.ActionLink("Back to list", "Index")</p>