@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2 class="mt-4 mb-4 text-center">Add a new machine</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Brand)
    @Html.TextBoxFor(model => model.Brand)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add new machine"/>
}
<p class="h5 mt-5">@Html.ActionLink("Show all machines", "Index")</p>